/* app css stylesheet */

body {
    background-color: #999999;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;

}

div#inside {
    margin-left: 30%;
    margin-top: 1px;
    padding: 40px;

}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
div#outer {
    width: 80%;
    background-color:#FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: thin solid #000000;

}
div#menu {
    padding: 15px;
    margin: 0px;
    text-align: center;

}
div#main {
    margin-left: 30%;
    margin-top: 1px;
    padding: 10px;

}
