
    <form name="logform">
        Choose your log format:
        <br>
        <input type="radio" name="Device" value="SRX" ng-model="logform.format"> Juniper SRX
        <input type="radio" name="Device" value="Netscreen" ng-model="logform.format"> Netscreen
        <input type="radio" name="Device" value="ASA" ng-model="logform.format"> Cisco ASA
        <br>
        <textarea rows="10" cols="80" maxlength="50000" ng-model="logform.txt"></textarea>
        <br>
        <button ng-click="submit(logform)">Submit</button>
    </form>
</div>
<br>
<div id="results">
  <table style="width:100%">
    <tr>
      <th ng-repeat="key in logObject.keys.sorted"> Top 10 {{key}}</th>
    </tr>
    <tr>
      <td ng-repeat="item in rows | sortedTable:logObject">{{item[o]}}</td>
    </tr>
  </table>




<div ng-cloak>Firewall Log Analyzer: v<span app-version></span></div>
